# Data handling
pandas>=1.3.0
numpy>=1.21.0

# Machine learning
scikit-learn>=1.0
xgboost>=1.5.0

# Deep learning (Autoencoder)
tensorflow>=2.5.0

# Statistical tests
scipy>=1.7.0

# Visualization
matplotlib>=3.4.0
seaborn>=0.11.0

# Formatting & notebook support
black[jupyter]>=22.1.0

# (Optional) Jupyter itself, if you want to ensure the same notebook environment
jupyterlab>=3.0
